name: Generar APK (Firebase)

on:
  push:
    branches: [ "main" ]

jobs:
  build_apk:
    runs-on: ubuntu-latest
    
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Configurar Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Instalar dependencias
        run: flutter pub get

      # --- PASOS DE VALIDACIÓN ELIMINADOS PARA QUE COMPILE YA ---
      # - name: Tests Unitarios
      #   run: flutter test

      - name: Generar APK (Release)
        run: flutter build apk --release

      - name: Subir APK a GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: 5